@import './config/_normalize'
@import './config/_fonts'
@import './config/_mixins'
@import './config/_variables'
@import './component/_header'
@import './component/_main-screen'
@import './component/_gallery'
@import './component/_modal'
@import './component/_footer'
@import './component/_about-front'
@import './component/_about-stat'
@import './component/_about-me'
@import './component/_about-connect'
@import './component/_contact'
@import './component/_map'
@import './leaflet'

*
    margin: 0
    padding: 0
    box-sizing: border-box

html 
    font-size: $root-font-size

img
    width: 100%

a
    text-decoration: none

li
    list-style-type: none

.container
    width: 100%
    max-width: 1366px
    margin: 0 auto    

.header__link:hover, .social__link:hover, .footer__link:hover
    color: $modal-hover

.main-btn
    padding: rem(22px) rem(52px)
    background-color: $modal-hover
    text-transform: uppercase
    font-family: font(Montserrat)
    font-size: rem(12px)
    color: #ffffff
    font-weight: 500
    text-decoration: none    
    display: inline-block